

.modal-body {
  display: flex;
  gap: 20px;

}

.modal-title {
font-size: 48px;

}

.modal-body img {
  width: 50%;
  flex-shrink: 0;
  border-radius: 8px;
  object-fit: contain;

}

.modal-text {
  font-size: 32px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-left: 40px;
}