.info-button {
  position: absolute;
  top: 100px;

  background-color: #0a3c91;
  color:	#fc3c23;
  border-radius: 8px;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  margin-left: 20px;
  align-items: center;
  text-align: center;
justify-content: center;
font-size: 32px;
 border: 3px solid black;

}

.info-button:hover {
  background-color: #ffff;
  color: #fc3c23;
  transform: translateY(-2px);
}
