.map-legend {
  border: 3px solid black;
  color: #fff;
  padding: 16px;
  border-radius: 8px;
  max-width: 350px;
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.map-legend h4 {
  font-size: 1.5vw;
  font-weight: 700;
  border-bottom: 3px solid white;
}

.vertical-select-button {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1rem;
  font-weight: 400;
}
.vertical-select-button .p-button:hover {
  color: #fc3c23;
}

.vertical-select-button .p-button.p-highlight {
  font-weight: 650;
  color: #fc3c23;
}

.horizontal-select-button {
  display: flex;
  justify-content: space-evenly;
  font-weight: 500;
}
.horizontal-select-button .p-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid white;
  width: 3.5rem;
  height: 1.5rem;
  font-size: 1rem;
  border-radius: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}
.horizontal-select-button .p-button > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.horizontal-select-button .p-button.p-highlight span.status-open {
  background-color: green;
}

.horizontal-select-button .p-button:hover span.status-open {
  background-color: white;
  color: green;
}

.horizontal-select-button .p-button.p-highlight span.status-closed {
  background-color: red;
  color: white;
}

.horizontal-select-button .p-button:hover span.status-closed {
  background-color: white;
  color: red;
}
