
.table-wrapper {
    align-items: center;
    text-align: left;
    justify-content: left;
}

.horizontal-select-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
}

.horizontal-select-button .p-button {
    border: 3px solid black;
    border-radius: 0;
    margin: 0;               
}
.horizontal-select-button .p-button:not(:last-child) {
    border-right: none;     
}

