.table-wrapper {
  align-items: center;
  text-align: center;
}

.horizontal-select-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.horizontal-select-button .p-button {
  border: 3px solid black;
  border-radius: 0;
  margin: 0;
}
.horizontal-select-button .p-button:not(:last-child) {
  border-right: none;
}

.horizontal-select-button .p-button.p-highlight {
  background-color: blue;
  color: white;
}
.horizontal-select-button .p-button:hover {
  background-color: lightblue;
  color: white;
}
