.date-button .btn {
  border: 3px solid black;
  border-radius: 0px;
  background-color: white;
  color: black;
  margin-left: 0px !important;
  width: 175px;
  font-weight: 700;
  transition: border-color 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  transform: none !important;
}

.date-button .btn:hover {
  border: 3px solid red;
  background-color: #fff0f0;
  color: red;
}

.dropdown-menu {
  border: 3px solid black;
  border-radius: 0px;
  width: 200px;
}
.table-header-cell {
  width: 175px;
}
