.custom-button {
  background-color: #0e0e0e;
  color: 	#ffff;
  border: 2px solid white;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 300ms ease, transform 200ms ease;
}

.custom-button:hover {
  background-color: #ffff;
  color: #0e0e0e;
  transform: translateY(-2px);
}