body {

}
.custom-navbar {
    background-color: transparent !important;
    color: white !important;
}

.nav-link-instance {
    color: white !important;
  text-decoration: none;
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.nav-link-instance:hover {
  color: #87cefa;
}

.nav-link-instance.active {
  border-bottom: 3px solid white;
  border-radius: 5px;
}