.slider-wrapper {
  width: 500px;
  margin: 0 auto;
}

.custom-slider {
  --range-slider-thumb-size: 20px;
  --range-slider-track-height: 8px;
}

.slider-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
  font-size: 12px;
  color: #ddd;
  padding: 0 2px;
}

.slider-label {
  flex: 0 0 auto;
  text-align: center;
  width: 30px;
}