.custom-navbar {
  background-color: transparent !important;
  margin-top: 10px;

}
.popup-bar {
  background-color: black !important;
  border-left: 3px solid white !important;
  max-width: 30vw !important;
  min-width: 250px !important;
  width: 100%;
}
.nav-link-instance {
  color: white !important;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.3vw;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.popup-link {
  color: white;
  padding: 0.75rem 1rem;
  text-decoration: none;
  font-size: 1.4rem;
  transition: color 0.2s ease;
}

.popup-link:hover {
  color: #0a66c2;
}

.popup-link.active {
  border-bottom: 3px solid white;
}
.menu-button {
  font-size: 1.2rem !important;
  padding: 12px 20px;
  border-radius: 10px;
  min-width: 100px;
}
.info-icon-button {
  width: 3rem !important;
  height: 3rem !important;
  border-radius: 50% !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: background-color 0.2s, color 0.2s;
}
.info-icon-button svg {
  width: 2rem;
  height: 2rem;
}
.menu-button,
.info-icon-button {
  display: inline-block;
}

/* hide on small screens */
@media (max-width: 768px) {
  button.menu-button,
  button.info-icon-button {
    display: none !important;
  }
}