.custom-navbar {
  background-color: transparent !important;
}
.popup-bar {
  background-color: black !important;
  color: #fc3c23 !important;
  font-size: 48px;
  border-left: 3px solid white !important;
}
.nav-link-instance {
  color: white !important;
  text-decoration: none;
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  transition: color 0.3s ease, border-color 0.3s ease;
}

.popup-link {
  color: white;
  padding: 0.75rem 1rem;
  text-decoration: none;
  font-size: 32px;
  transition: color 0.2s ease;
}

.popup-link:hover {
  color: #87cefa;
}

.popup-link.active {
  border-bottom: 3px solid white;
}
.menu-button {
    font-size: 18px;       
  padding: 12px 20px;   
  border-radius: 10px;   
  min-width: 100px;
}
.info-icon-button {
  width: 48px !important;
  height: 48px !important;
  border-radius: 50% !important;
  padding: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: background-color 0.2s, color 0.2s;
}
.info-icon-button svg {
  width: 32px;
  height: 32px;
}