.table-container {
  border: 2px solid black !important;
}

.header-button-route {
  width: 100% !important;
  height: 50px !important;
  padding: 0 !important;
  border-radius: 0 !important;
  font-weight: 550 !important;
  background-color: #fc3c23 !important;
  color: white !important; 
  border: 1px solid black !important;
  border-right: none !important; 
}

.header-button-route:hover {
  background-color: white !important;
  color: #fc3c23 !important;
}

.MuiTableBody-root .MuiTableCell-root {
  text-align: center;
  vertical-align: middle; 
}




.MuiTableHead-root .MuiTableRow-root > .MuiTableCell-root:last-child {
  border-right: none;
}


.MuiTableBody-root .MuiTableCell-root {
  text-align: center;
  vertical-align: middle;
}

.table-layout {
   border-bottom: 3px solid black;
}