.loading-overlay {
  position: absolute;
  color: black;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
  font-weight: 800;
}

.map-wrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  color: black;
  
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
.custom-popup .leaflet-popup-content-wrapper {
  background-color: #1a1a1a;
    border-top-color: black;
  border-radius: 10px;
  color: white; 
  padding: 10px;
  font-family: Arial, sans-serif;
  align-items: center;
  text-align: center;
}
.custom-popup .leaflet-popup-tip {
  background-color: #1a1a1a;
}

.custom-popup .leaflet-popup-content-wrapper strong,
.custom-popup .leaflet-popup-content-wrapper .popup-title {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.map-slider-container {
  position: absolute;
  bottom: 50px;
  left: 50%;
  align-items: center;
  transform: translateX(-50%);
  width: 75%;
  padding: 8px 12px;
  border-radius: 8px;
  z-index: 1000;
}