.loading-overlay {
  position: fixed;
  background-color: transparent !important;
  color: 	#fc3c23 !important;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  font-weight: 800;
  z-index: 9999;
  font-size: 32px;

}


.map-wrapper {

  z-index: 0;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-size: 32px;
  text-align: center;
  color: black;
  
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
.custom-popup .leaflet-popup-content-wrapper {
    background-color: 		rgb(10, 60, 145, 0.7);
    border-top-color: black;
    border: 2px solid black;
  border-radius: 10px;
  color: white; 
  padding: 10px;
  font-family: Arial, sans-serif;
  align-items: center;
  text-align: center;
}
.custom-popup .leaflet-popup-tip {
    background-color: 		rgb(10, 60, 145, 0.6);
}

.custom-popup .leaflet-popup-content-wrapper strong,
.custom-popup .leaflet-popup-content-wrapper .popup-title {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.map-slider-container {
  color: white;
  background-color: 		rgb(10, 60, 145, 0.8);
  border: 3px solid black;
  position: absolute;
  bottom: 0px;
  left: 50%;
  align-items: center;
  transform: translateX(-50%);
  width: 75%;
  padding: 5px 30px;
  border-radius: 8px;
  z-index: 1000;
}
.map-slider-container h2 {
  color: 	#fc3c23;

  display: inline-block;
  border-bottom: 4px solid 	#fc3c23;
  padding-bottom: 4px;
   
}