.footer-container {
  background-color: black;
  border-top: 3px solid white;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.footer-contactdetails {
  display: flex;
  justify-content: flex-start;
}

.mobile-menu-controls {
  display: none;
}

@media (max-width: 768px) {
  .footer-container {
    padding: 5px;
  }
  .mobile-menu-controls {
    display: flex;
    gap: 10px;
  }
}
