.main-container {
   border: 2px solid red;
   width: 100%;
   height: 100vh;
   margin: 0;
   margin: 0;
}

.homepage-title {
    font-size: 114px;
    margin-bottom: 50px;
    font-weight: 800;
    
}

.homepage-subtitle {
    font-size: 48px;
    margin-bottom: 50px;
    text-align:  left;
}