.main-container {
  position: relative;
  background-color: transparent;
  width: 100%;
  z-index: 1;
  background: transparent;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  box-sizing: border-box;
}

.content-row {
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 90%;
}

.left-box,
.right-box {
  border: 2px solid #fff;
  width: 45%;
  height: 300px;
  background-color: #1a1a1a;
  margin-top: 50;
}

.right-box {
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 800;
  font-size: 1.5rem;
  text-align: center;
}

.homepage-title {
  font-size: 5vw;
  margin-bottom: 50px;
  font-weight: 800;
  text-align: center;
  word-wrap: break-word;
  font-size: clamp(3.2rem, 5vw, 4rem);
}


.modal-content {
  background-color: #0a3c91 !important;
  color: white !important;
  height: 90%;
  max-height: 90vh !important;
  overflow: hidden;
}
.modal-header {
  justify-content: center;
}

.modal-title {
  color: #fc3c23 !important;
  margin: 0 auto;
  text-align: center;
  font-weight: 700 !important;
  width: 100%;
}

.modal-lg {
  max-width: 1400px !important;
}

.modal-body {
  display: flex;
  gap: 20px;
  padding: 1rem 2rem; /* add some padding */
  overflow: hidden;
}

.modal-body img {
  width: 70%;
  border-radius: 8px;
  object-fit: contain;
}

.modal-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.modal-text .author {
  font-style: italic;
  margin-bottom: 1rem;
  color: #bbbbbb;
}

.modal-text p {
  overflow-y: auto;
  line-height: 1.5;
  font-size: 1rem;
}

.image-title {
  color: #fc3c23;
  font-weight: 700 !important;
  font-size: 1.3vw;
}
