.main-container {

   background-color: transparent;
   width: 100%;
  
   margin: 0;
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  box-sizing: border-box;
}

.content-row {
  display: flex;
  justify-content: center;
  gap: 100px;
  width: 90%;
}

.left-box, .right-box {
  border: 2px solid #fff;
  width: 45%;
  height: 300px;
  background-color: #1a1a1a;
  margin-top: 50;
}

.right-box {
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 800;
  font-size: 38px;
}

.homepage-title {
    font-size: 114px;
    margin-bottom: 50px;
    font-weight: 800;
    
}

.homepage-subtitle {
    font-size: 48px;
    margin-bottom: 50px;
    text-align:  left;
}
.modal-content {
  background-color: #000000 !important;
  color: #ffffff !important;  /* white text */
  max-width: 1100px; /* wider modal */
  height: auto;
  margin: 0 auto;
   min-height: 600px;
}
.modal-header {
  justify-content: center
}

.modal-title {
  margin: 0 auto;
  text-align: center;
  font-weight: 700 !important; 
  width: 100%;
}

.modal-lg {
  max-width: 1400px !important;
}

.modal-body {
  display: flex;
  gap: 20px;
  padding: 1rem 2rem; /* add some padding */
}

.modal-body img {
  width: 70%;
  border-radius: 8px;
  object-fit: contain;
}

.modal-text {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.modal-text .author {
  font-style: italic;
  margin-bottom: 1rem;
  color: #bbbbbb;
}


.modal-text p {
  line-height: 1.5;
}