html,
body,
#root,
.app-wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  background: transparent;
}

html {
  font-size: clamp(14px, 1.2vw, 18px);
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  position: relative;
  z-index: 1;
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-y: auto;
  color: white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-sizing: border-box;
}
.offcanvas-backdrop {
  display: none !important;
}

.offcanvas {
  background-color: #1a1a1a;
  color: white;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.video-background-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.video-background {
  pointer-events: none;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translate(-50%, -50%);
  object-fit: cover;
  z-index: -1;
}

.btn {
  background-color: black !important;
  border: 3px solid white !important;
  border-radius: 5px !important;
  color: white !important;
  font-weight: 700 !important;
  font-size: 1rem !important;
}

.btn:hover {
  background-color: white !important;
  border: 3px solid black !important;
  color: black !important;
}

.modal-title {
  font-size: 1.5rem !important;
}
.modal-body {
  font-size: 1.5rem !important;
}
.modal-body,
.modal-title,
.modal-header,
.modal-footer {
  background-color: black !important;
}
.image-title {
  font-size: 1.3rem;
  font-weight: 700;
}
.modal-body img {
  border: 3px solid white !important;
}
@media (max-width: 768px) {
  .modal-body {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
  }

  .modal-image {
    width: 100%;
    max-height: 50vh;
    object-fit: contain;
    border: 3px solid white;
  }

  .modal-text {
    max-height: 30vh;
    overflow-y: auto;
  }
}
