.loading-overlay {
  border: 3px solid #fc3c23;
  border-radius: 12px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  max-height: 85%;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  font-weight: 800;
  font-size: 1.5rem;
  padding: 2rem; 
  box-sizing: border-box;
  overflow-wrap: break-word;
  text-align: center;
}
