.leaflet-container {
  flex: 1;
  width: 100%;
  border: 10px solid red
}
.map-legend {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(0,0,0,0.7);
  padding: 12px;
  color: #fff;
  border-radius: 8px;
  z-index: 1000;
  font-size: 14px;
}

